@{
    ViewData["Title"] = "Home Page";
}
<main role="main" class="">
<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel" >
    <div class="carousel-inner">
        <div class="carousel-item active modal-fullscreen">
                <img src="/Images/Home/ying_and_yang_food_art-wallpaper-1920x1200.jpg" class="d-block w-100 img-responsive" style=" border-radius:6px" alt="...">
        </div>
        <div class="carousel-item">
                <img src="/Images/Home/green_pepper-wallpaper-1920x1200.jpg" class="d-block w-100 img-responsive" style="border-radius:6px" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/Images/Home/musli_breakfast-wallpaper-1920x1080.jpg" class="d-block w-100 img-responsive" style="border-radius:6px" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
</main>
