@model Shop
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodMall</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoodMall.styles.css" asp-append-version="true" />
</head>
<body id="bg">
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-transparent shadow">
            <div class="container-fluid">
                <a class="navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="Index">首页</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Shop" asp-action="Login">我是商家</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">进入订餐</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-xl-5">
        <main role="main" class="pb-3">
            <div class="p-3 d-flex justify-content-center align-items-center" style="height:550px;">
                <div class="p-3 d-flex justify-content-center align-items-center bg-light rounded-3" style="height:200px;width:500px;">
                    <form asp-action="Login" asp-controller="Shop">
                        <h3 class="text-center">登录</h3>
                        <div class="input-group flex-nowrap" style="width:300px;">
                            <span class="input-group-text" id="addon-wrapping">账号</span>
                            <input type="text" class="form-control" asp-for=s_account placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
                        </div>
                        <div class="input-group flex-nowrap" style="width:300px;">
                            <span class="input-group-text" id="addon-wrapping">密码</span>
                            <input type="password" class="form-control" asp-for=s_password placeholder="password" aria-label="password" aria-describedby="addon-wrapping">
                        </div>
                        <div class="input-group flex-nowrap p-1 d-flex justify-content-center">
                            <button type="submit" class="btn btn-outline-success" onclick="alert">登录</button>
                            <button type="button" class="btn btn-outline-info" >@Html.ActionLink("注册", "Register", "Shop")</button>
                        </div>
                    </form>
                </div>
                
                @if (true)
                {
                    <label class="text-danger">@ViewBag.Message</label>
                }

            </div>
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - FoodMall
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>